
{% extends "block.html" %}

{% block title %}Elliptic Encrypt System{% endblock %}
{% block page_title %}Elliptic Encrypt System{% endblock %}
{% block breadcrumb %}Elliptic Encrypt System{% endblock %}

{% block content %}

    {% include 'head.html' %}
    <script src="static/js/elliptic.js" defer></script>
    <div class="cryptosystem-container">
        <h1>ECELGamal Encryption - Step by Step Guide</h1>
        <p>Learn how to encrypt and decrypt using the Elliptic Curve algorithm with this interactive tool.</p>
    
        <h2>Step 1: Choose Prameters</h2>
        <div class="calculation-section">
            <p>Start by selecting a prime numbers <var>p</var>:</p>
            <div class="input-item">
                <label for="p"><var>p</var> = </label>
                <input type="number" id="p" placeholder="Enter a prime number">
            </div>
            <p>Or you can generate p :</p>
            <div>
                <label for="Number of bits">Number of bits</label>
                <input type="number" id="bits" placeholder="Enter number of bits">
                <button class = "generate-prime btn" type="submit">Generate Prime Number</button>
            </div>
            <p>Choose two number a and b with <span>4<var>a</var><sup>3</sup> + 27<var>b</var><sup>2</sup> &#8800; 0 &#8290; mod <var>p</var></span></p>
            <div class="input-item">
                <label for="a"><var>a</var> = </label>
                <input type="number" id="a" placeholder="Enter number">
            </div>
            <div class="input-item">
                <label for="b"><var>b</var> = </label>
                <input type="number" id="b" placeholder="Enter number">
            </div>
        </div>
        <div>
            <button class="generate-elliptic btn" type="submit">Generate Elliptic Curve</button>
        </div>
        <p id = "curve">Curve: y<sup>2</sup> = x<sup>3</sup> + <var>a</var>x + <var>b</var> mod <var>p</var></p>
        <p id ="points">Points: </p>
        <h2>Step 2: Calculate Key Values</h2>
        <p>Follow these calculations to generate the keys:</p>
        <div class="calculation-section">
            <p>Choose any number s</p>
            <div class="input-item">
                <label for="s"><var>s</var> = </label>
                <input type="number" id="s" placeholder="Enter number">
            </div>
            <p>Choose P as a point on the curve</p>
            <div class="input-item">
                <label for="x"><var>Px</var> = </label>
                <input type="number" id="x" placeholder="Enter number">
                <label for="y"><var>Py</var> = </label>
                <input type="number" id="y" placeholder="Enter number">
            </div>
            <p>Caculator <var>B</var> = <var>s</var>.<var>P</var></p>
            <p id="beta-value"><var>β</var> = </p>
            <div>
                <p id="public-key">Public key: <var>(p, a, b, P, B)</var> = </p>
                <p id="private-key">Private key: <var>(s)</var> = </p>
            </div>
        </div>
    
        <h2>Step 3: Encrypt</h2>
        <p>To encrypt a number <var>m</var> to ciphertext <var>c</var> the following formula is applied.</p>
        <div class="calculation-section">
            <p>It uses the numbers of the public key:</p>
            <p>Choose any positive integer k</p>
            <div class="input-item">
                <label for="k"><var>k</var> = </label>
                <input type="number" id="k" placeholder="Enter number">
            </div>
            <p id="plaintext">String Plaintext: </p>
            <div>
                <label for="plain"></label>
                <input type="text" id="plain" placeholder="Type your plaintext">
                <button class = "convert btn" type="submit">Convert</button>
            </div>
            <p>Generate Point in curve with plaintext :</p>
            <div class="input-item">
                <label for="mm"><var>M</var> = </label>
                <input type="number" id="mm" placeholder="Enter number">
            </div>
            <button class="generate-point btn" type="submit">Generate</button>
            <p id = m>M:</p>
            <p>Caculator <var>M1</var> = <var>k</var>.<var>P</var> mod <var>p</var></p>
            <p>Caculator <var>M2</var> = (<var>M</var> + <var>k</var>.<var>B</var>) mod <var>p</var></p>
            <div>
                <button class="encrypt btn" type="submit">Encrypt</button>
            </div>
            <p id="m1-value"><var>M1</var> = </p>
            <p id="m2-value"><var>M2</var> = </p>
        </div>

        <h2>Step 4: Decrypt</h2>
        <p>For decryption the inverse formula is applied.</p>
        <div class="calculation-section">
            <p>It uses the numbers of the private key:</p>
            <p><var>m</var> = (<var>M2</var> - <var>s</var>.<var>M1</var>) mod <var>p</var></p>
            <div class="input-item">
                <label for="m1-decrypt"> <var>M1x</var> = </label>
                <input type="number" id="m1-decrypt" placeholder="Enter x of M1">
                <label for="m1-decrypt-y"> M1y = </label>
                <input type="number" id="m1-decrypt-y" placeholder="Enter y of M1">
            </div>
            <div class="input-item">
                <label for="m2-decrypt"> <var>M2x</var> = </label>
                <input type="number" id="m2-decrypt" placeholder="Enter x of M2">
                <label for="m2-decrypt-y"> M2y = </label>
                <input type="number" id="m2-decrypt-y" placeholder="Enter y of M2">
            </div>    
            <div>
                <button class="decrypt btn" type="submit">Decrypt</button>
            </div>
            <p id="m-decrypt-value">Decrypted: <var>m</var> = </p>
        </div>    
    </div>
    
    <script type="text/javascript" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% include 'footer.html' %}

    
    {% endblock %}