
{% extends "block.html" %}

{% block title %}Elliptic Cryptosystem{% endblock %}
{% block page_title %}Elliptic Cryptosystem{% endblock %}
{% block breadcrumb %}Elliptic Cryptosystem{% endblock %}

{% block content %}

    {% include 'head.html' %}

    <div class="cryptosystem-container">
        <h2>Encrypt</h2>
        <p>To start with Elliptic Curve, choose a prime number p and two arbitrary numbers a and b.</p>
        <form action="#" method="POST" class="rsa-form">
            <div class="form-group">
                <label for="message">Message: </label>
                <input type="text" id="message" name="message" required />
            </div>
            <div class="form-group">
                <label for="p">p = </label>
                <input type="number" id="p" name="p" required />
            </div>
            <div class="form-group">
                <label for="a">a = </label>
                <input type="number" id="a" name="a" required />
            </div>
            <div class="form-group">
                <label for="b">b = </label>
                <input type="number" id="b" name="b" required />
            </div>
            <p style="font-size: 16px;">With \( 4a^3 + 27b^2 \neq 0 \pmod{p} \)</p>
            <div class="form-group">
                <label for="s">s = </label>
                <input type="number" id="s" name="s" required />
            </div>
            <div class="form-group">
                <label for="k">k = </label>
                <input type="number" id="k" name="k" required />
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
    

    <div class="cryptosystem-container">
       <h2>Decrypt</h2> 
    </div>
    
    <script type="text/javascript" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    {% include 'footer.html' %}

    
    {% endblock %}