
{% extends "block.html" %}

{% block title %}Elliptic Signature{% endblock %}
{% block page_title %}Elliptic Signature{% endblock %}
{% block breadcrumb %}Elliptic Signature{% endblock %}

{% block content %}


    {% include 'head.html' %} 

    <div class="comment-form">
        <h3 class="comment-reply-title">Leave a comment</h3>
        <form action="#" method="POST">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-box form-group">
                        <input type="text" name="name" class="form-control form-control-custom" placeholder="Name*" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-box form-group">
                        <input type="email" name="email" class="form-control form-control-custom" placeholder="Email*" />
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-box form-group">
                        <textarea name="#" class="form-control form-control-custom" placeholder="Comments*"></textarea>
                    </div>
                </div>
                <div class="col-12">
                    <div class="button">
                        <button type="submit" class="btn">Post Comment</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    

    {% include 'footer.html' %}


    {% endblock %}