{% extends "block.html" %}

{% block title %}RSA Cryptosystem{% endblock %}
{% block page_title %}RSA Cryptosystem{% endblock %}
{% block breadcrumb %}RSA Cryptosystem{% endblock %}

{% block content %}

    {% include 'head.html' %}
    
    <div class="cryptosystem-container">
        <h2>Encrypt</h2>
        <p>As a starting point for RSA, choose two prime numbers p and q:</p>
        <form action="#" method="POST" class="rsa-form">
            <div class="form-group">
                <label for="message">Message: </label>
                <input type="text" id="message" name="message" required />
            </div>
            <div class="form-group">
                <label for="p">p = </label>
                <input type="number" id="p" name="p" required />
            </div>
            <div class="form-group">
                <label for="q">q = </label>
                <input type="number" id="q" name="q" required />
            </div>
            <p class="note">For the algorithm to work, the two prime numbers p and q must be different.</p>
            <div class="form-group">
                <label for="e">e = </label>
                <input type="number" id="e" name="e" required />
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>


    <div class="cryptosystem-container">
    <h2>Decrypt</h2> 
    </div>

    {% include 'footer.html' %}

{% endblock %}
