
{% extends "block.html" %}

{% block title %}Sign In{% endblock %}
{% block page_title %}Sign In{% endblock %}
{% block breadcrumb %}Sign In{% endblock %}

{% block content %}


  {% include 'head.html' %}

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}


  <div class="signup-container">
    <form action="" method="POST">
      <h2>Sign In Now</h2>
      <p>Sign in by entering the information below.</p>
      <form>
        <input type="email" id="email" name="email" placeholder="Enter your email"/>
        <input type="password" id="password" name="password" placeholder="Enter your password"/>
        <button type="submit">Sign In</button>
      </form>
      <p class="or-divider">Or</p>
      <p>Sign up with your work email 
        <a href="#" class="google-signup">
          <img src="static/images/account-login/google.png" alt="Google Logo" />
          Sign In With Google
        </a>
      </p>
      <p>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign Up</a></p>
    </form>
  </div>


  {% include 'footer.html' %}
  

  {% endblock %}